body {
    text-align: center;
    background-color: rgb(150, 144, 144);
}

.cell {
    height: 100px;
    width: 100px;
    border: 1.5px solid grey;
    /* border-style: inset; */
}

.blackcell {
    background-color: green;
}

.whitecell {
    background-color: white;
}

h1{
    color: black;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px
}

img {
    height: 75px;
    width: 75px;
}

.clear-board-button {
    margin-top: 15px;
}